BdlIBMS/Service References/WriterService/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.bdl.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bdl.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bdl.com/Imports">
      <xsd:import schemaLocation="http://localhost:9999/protocolwriterservice/metadata?xsd=xsd0" namespace="http://www.bdl.com/" />
      <xsd:import schemaLocation="http://localhost:9999/protocolwriterservice/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WriterService_OpcWrite_InputMessage">
    <wsdl:part name="parameters" element="tns:OpcWrite" />
  </wsdl:message>
  <wsdl:message name="WriterService_OpcWrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpcWriteResponse" />
  </wsdl:message>
  <wsdl:message name="WriterService_ModbusWrite_InputMessage">
    <wsdl:part name="parameters" element="tns:ModbusWrite" />
  </wsdl:message>
  <wsdl:message name="WriterService_ModbusWrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModbusWriteResponse" />
  </wsdl:message>
  <wsdl:message name="WriterService_BacnetWrite_InputMessage">
    <wsdl:part name="parameters" element="tns:BacnetWrite" />
  </wsdl:message>
  <wsdl:message name="WriterService_BacnetWrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:BacnetWriteResponse" />
  </wsdl:message>
  <wsdl:portType name="WriterService">
    <wsdl:operation name="OpcWrite">
      <wsdl:input wsaw:Action="http://www.bdl.com/WriterService/OpcWrite" message="tns:WriterService_OpcWrite_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bdl.com/WriterService/OpcWriteResponse" message="tns:WriterService_OpcWrite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModbusWrite">
      <wsdl:input wsaw:Action="http://www.bdl.com/WriterService/ModbusWrite" message="tns:WriterService_ModbusWrite_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bdl.com/WriterService/ModbusWriteResponse" message="tns:WriterService_ModbusWrite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BacnetWrite">
      <wsdl:input wsaw:Action="http://www.bdl.com/WriterService/BacnetWrite" message="tns:WriterService_BacnetWrite_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bdl.com/WriterService/BacnetWriteResponse" message="tns:WriterService_BacnetWrite_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>